•	Write a Python program to construct the following pattern, using a nested for loop.

In [137]:
for i in range(10):
    if i<5:
        print('*'*i)
    else:
        print('*'*(10-i))

*
**
***
****
*****
****
***
**
*

•	Write a Python program which iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz.

In [8]:
for i in range(1,51):
    if (i %3==0) and (i%5==0):
        print(i,'FizzBuzz')
    elif i%3==0:
        print(i,'Fizz')
    elif i%5==0:
        print(i,'Buzz')

3 Fizz
5 Buzz
6 Fizz
9 Fizz
10 Buzz
12 Fizz
15 FizzBuzz
18 Fizz
20 Buzz
21 Fizz
24 Fizz
25 Buzz
27 Fizz
30 FizzBuzz
33 Fizz
35 Buzz
36 Fizz
39 Fizz
40 Buzz
42 Fizz
45 FizzBuzz
48 Fizz
50 Buzz

•	Write a Python program to check the validity of password input by users.  
Validation :
At least 1 letter between [a-z] and 1 letter between [A-Z].
At least 1 number between [0-9].
At least 1 character from [$#@].
Minimum length 6 characters.
Maximum length 16 characters.

In [116]:
import re
a = input('Enter a passwaord: ')

condition1 = re.findall('[a-z]', a)
condition2 = re.findall('[A-Z]', a)
condition3 = re.findall('[$#@]', a)
condition4 = re.findall('[0-9]', a)

if (len(a)>=6) and (len(a)<=16) and (len(condition4)!=0) and (len(condition1)!=0) and (len(condition2)!=0) and (len(condition3)!=0):
    print('Valid Password')
else:
    print('Invalid Password')

Enter a passwaord: Yogesh@11111
Valid Password

•	Write a Python program that reads two integers representing a month and day and prints the season for that month and day. 
Expected Output:
Input the month (e.g. January, February etc.): july                     
Input the day: 31                                                       
Season is autumn 
`

In [13]:
a = input('Enter Month and Days Seprate by commas: ').split(',')
if (a[0]=='December') or (a[0]=='January'):
    print('Winter')
elif (a[0]=='Feburary') or (a[0]=='March'):
    print('Spring')
elif (a[0]=='April') or (a[0]=='May') or (a[0]=='June'):
    print('Summer')
elif (a[0]=='July') or (a[0]=='August'):
    print('Monsoon')
elif (a[0]=='September') or (a[1]<15):
    print('Monsoon')
elif (a[0]=='October') or (a[0]=='November'):
    print('Autumn')
elif (a[0]=='September') or (a[1]>15):
    print('Autumn')

Enter Month and Days Seprate by commas: January,16
Winter

•	Creae a dictionary containing names and age as key value pairs . Write a program, with separate user defined functions to perform the following operations. Push the keys into an array, where the corresponding value is lesser than 30. Display the content of the array.

In [27]:
dic = {'Yogesh': 25, 'Sagar':29, 'abhi':35, 'Sir':38, 'Mam':31}

In [32]:
import numpy as np
ar= np.array([])
for i in dic:
    if dic[i]<30:
        ar=np.append(ar,i)
ar

array(['Yogesh', 'Sagar'], dtype='<U32')

•	Write a program to Traverse the content of the list and write the negative elements into an array.

In [33]:
lst = [1,2,3,4,5,-1,2,4,-8,-9]

In [34]:
ar= np.array([])
for i in lst:
    if i<0:
        ar=np.append(ar,i)
ar

array([-1., -8., -9.])

•	Get the 3 items with the highest value from dictionary?

In [35]:
dic = {'Yogesh': 25, 'Sagar':29, 'abhi':35, 'Sir':38, 'Mam':31}

In [45]:
lst = []

In [46]:
for i in dic:
    lst.append(dic[i])

In [47]:
lst.sort()

In [52]:
hig_val= lst[:-4:-1]
hig_val

[38, 35, 31]

In [53]:
dic1={}
for i in dic:
    if dic[i] in hig_val:
        dic1[i]=dic[i]

In [54]:
dic1

{'abhi': 35, 'Sir': 38, 'Mam': 31}

•	Write a program to get LCM of 4 numbers `

In [55]:
a,b,c,d=12,13,14,15
greater  = max(a,b,c,d)

In [58]:
while True:
    if (greater%a==0) & (greater%b==0) & (greater%c==0) & (greater%d==0):
        print('LCM is',greater)
        break
    greater+=1

LCM is 5460

•	Write a program to get HCF of 3 numbers

In [143]:
a,b,c=11,22,33
min_v = min(a,b,c)
hcf=1
for i in range(1,min_v+1):
    if ((a%i==0) & (b%i==0) & (c%i==0)):
        hcf=i
hcf

11

•	Write a program to get Table from 2 to 20 .

In [91]:
for i in range(1,11):
    print()
    for j in range(1,11):
        print(i*j,end='\t')

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100

•	Write a program to factorial

In [97]:
#using RECURSSION
def fact(n):
    if n==1:
        return 1
    elif n>1:
        return n*fact(n-1)
    else:
        pass
fact(5)

120

•	Write a program to get evaluate exponential series

In [146]:
a=0
for i in range(2,10):
    a+=(i/fact(i))
a

1.71827876984127