In [1]:
import pandas as pd
import numpy as np

In [2]:
Data = pd.read_csv('DS1_C4_S4_Car_Prices_Data_Challenge.csv')

# Task1

In [3]:
Data[['sellingprice','make']].groupby(['make']).min().sort_values(by='sellingprice').head()

               sellingprice
make
Mercedes-Benz             1
Isuzu                     1
Ford                      1
Hyundai                 100
Pontiac                 100

In [4]:
X= Data[['sellingprice','make']].loc[(Data['year']==2015)].sort_values(by="sellingprice")

In [5]:
X.groupby(['make']).min().sort_values(by='sellingprice').head(5)

           sellingprice
make
Chevrolet          1100
Ford               1250
Nissan             1400
FIAT               2000
Hyundai            2000

# TASK2

In [6]:
a = Data[(Data['make']=='BMW') & (Data['condition']>4.5 )& (Data['year']==2010)].sellingprice.mean()
b = Data[(Data['make']=='BMW') & (Data['condition']>4.5 )& (Data['year']==2015)].sellingprice.mean()
c= a-b
d=(a+b)/2
e=c/d*100
print('There is a {0}% difference in selling price of year 2010 with year 2015'.format( round(e,2)))

There is a -58.35% difference in selling price of year 2010 with year 2015

# TASK3

In [7]:
a = Data[(Data['interior']=='black')].mmr.mean()
b = Data[(Data['interior']=='gray')].mmr.mean()
print()
print(a)
print(b)
print('\n','The difference in the car whole sale price of grey interior is {0} less then black interior'.format(round(a-b)))

15858.52005549485
11189.776545228522

 The difference in the car whole sale price of grey interior is 4669 less then black interior

In [8]:
#another way to do it is by using groupby

In [9]:
x= Data.groupby('interior')['mmr'].mean().loc[['black','gray']]
print()
print(x)
print('\n','The difference in the car whole sale price of grey interior is {0} less then black interior'.format(round(x.diff()[1])))

interior
black    15858.520055
gray     11189.776545
Name: mmr, dtype: float64

 The difference in the car whole sale price of grey interior is -4669 less then black interior

# TASK4

In [10]:
a = Data.loc[Data['year'].between(2013,2015)].sort_values(by='year')
b= a.groupby('color')['saledate'].count()

print('\n',b.idxmax(),'colour of car people drive most often from year 2013 t0 2015','\n','\n')
print(b)

 white colour of car people drive most often from year 2013 t0 2015


color
beige         1691
black        35742
blue         13803
brown         2684
burgundy      2489
charcoal       187
gold          1750
gray         29538
green         2096
lime             8
off-white      376
orange         585
pink            29
purple         397
red          17312
silver       26221
turquoise       35
white        40237
yellow         262
—            12857
Name: saledate, dtype: int64

# TASK5

In [11]:
a = Data[(Data['saledate']=='Fri Dec 19 2014 09:00:00 GMT-0800 (PST)') & (Data['body']=='SUV')]
b = Data[(Data['saledate']=='Thu Jan 15 2015 04:30:00 GMT-0800 (PST)') & (Data['body']=='SUV')]

In [12]:
x=a['saledate'].count()
y=b['saledate'].count()

c= x-y
d=(x+y)/2
e=c/d*100
print('Fri Dec 19 2014 09:00:00 GMT-0800 (PST) sales count',x,'\n','Thu Jan 15 2015 04:30:00 GMT-0800 (PST) count', y, '\n', round(e,2), 'percent difference')

Fri Dec 19 2014 09:00:00 GMT-0800 (PST) sales count 569
 Thu Jan 15 2015 04:30:00 GMT-0800 (PST) count 310
 58.93 percent difference

# TASK6

In [13]:
Data.insert(15,'Discounted_Price', Data.sellingprice - Data.sellingprice*0.2)
Data.loc[Data['make']=='Ford','Discounted_Price'] = Data.sellingprice - Data.sellingprice*0.1
Data.loc[Data['make']=='Chevrolet','Discounted_Price']  = Data.sellingprice - Data.sellingprice*0.1
Data

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,Discounted_Price,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,21500,17200.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,21500,17200.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,30000,24000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,27750,22200.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,67000,53600.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,4.5,18255.0,silver,black,avis corporation,35300,33000,26400.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200,30800,24640.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,34000,27200.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,11100,8880.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,26700,24030.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

# TASK7

In [14]:
Data1 = Data.drop(['saledate','vin'],axis=1)

In [15]:
Data1.isnull().sum()

year                    0
make                10301
model               10399
trim                10651
body                13195
transmission        65353
state                   1
condition           11794
odometer               94
color                 749
interior              749
seller                  0
mmr                     0
sellingprice            0
Discounted_Price        0
dtype: int64

In [16]:
Data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   year              558837 non-null  int64
 1   make              548536 non-null  object
 2   model             548438 non-null  object
 3   trim              548186 non-null  object
 4   body              545642 non-null  object
 5   transmission      493484 non-null  object
 6   state             558836 non-null  object
 7   condition         547043 non-null  float64
 8   odometer          558743 non-null  float64
 9   color             558088 non-null  object
 10  interior          558088 non-null  object
 11  seller            558837 non-null  object
 12  mmr               558837 non-null  int64
 13  sellingprice      558837 non-null  int64
 14  Discounted_Price  558837 non-null  float64
dtypes: float64(3), int64(3), object(9)
memory usage: 64.0+ MB

In [17]:
Data1[['make','model','trim','body','transmission','state','condition','odometer','color','interior']]=Data1.loc[:,['make','model','trim','body','transmission','state','condition','odometer','color','interior']].fillna({'make':Data1.make.mode()[0],'model': Data1.model.mode()[0],'trim': Data1.trim.mode()[0],'body':Data1.body.mode()[0] ,'transmission':Data1.transmission.mode()[0] ,'state':Data1.state.mode()[0] ,'condition':Data1.condition.mode()[0] ,'odometer':Data1.odometer.mode()[0],'color':Data1.color.mode()[0],'interior':Data1.interior.mode()[0]})

In [18]:
Data1.isnull().sum()

year                0
make                0
model               0
trim                0
body                0
transmission        0
state               0
condition           0
odometer            0
color               0
interior            0
seller              0
mmr                 0
sellingprice        0
Discounted_Price    0
dtype: int64