In [1]:
import numpy as np
import pandas as pd

# TASK1

In [2]:
student_id = pd.Series(np.arange(1001,1041)) 
student_id

0     1001
1     1002
2     1003
3     1004
4     1005
5     1006
6     1007
7     1008
8     1009
9     1010
10    1011
11    1012
12    1013
13    1014
14    1015
15    1016
16    1017
17    1018
18    1019
19    1020
20    1021
21    1022
22    1023
23    1024
24    1025
25    1026
26    1027
27    1028
28    1029
29    1030
30    1031
31    1032
32    1033
33    1034
34    1035
35    1036
36    1037
37    1038
38    1039
39    1040
dtype: int32

# TASK2

In [3]:
Lvl1_Maths_Mark = np.random.randint(50,95,40)
#Lvl1_Maths_Mark one dimensional array for student marks
mm= pd.Series(Lvl1_Maths_Mark,index=student_id, name='Level1 Math Marks') #series for storing student data
mm

1001    76
1002    51
1003    88
1004    55
1005    57
1006    92
1007    85
1008    70
1009    78
1010    86
1011    68
1012    61
1013    94
1014    81
1015    72
1016    86
1017    59
1018    65
1019    87
1020    94
1021    52
1022    77
1023    78
1024    78
1025    85
1026    89
1027    81
1028    67
1029    78
1030    55
1031    78
1032    78
1033    57
1034    53
1035    74
1036    83
1037    61
1038    54
1039    83
1040    63
Name: Level1 Math Marks, dtype: int32

# TASK3

In [4]:
Lvl1_Physics_Mark = np.random.randint(40,95,40)
#Lvl1_Maths_Mark one dimensional array for student marks
pm=pd.Series(Lvl1_Physics_Mark,index=student_id,name='Level1 Physics Marks') #series for storing student data
pm

1001    54
1002    60
1003    41
1004    71
1005    86
1006    57
1007    65
1008    75
1009    73
1010    74
1011    43
1012    51
1013    47
1014    64
1015    58
1016    93
1017    58
1018    92
1019    64
1020    48
1021    70
1022    57
1023    90
1024    62
1025    41
1026    77
1027    82
1028    40
1029    91
1030    82
1031    78
1032    40
1033    45
1034    74
1035    79
1036    55
1037    89
1038    63
1039    73
1040    84
Name: Level1 Physics Marks, dtype: int32

# TASK4

In [5]:
Level1_Total_Marks = mm+pm
Level1_Total_Marks.name = 'Level1 Total Marks'

In [6]:
Qulified_Students = Level1_Total_Marks[(Level1_Total_Marks>=150)]
Qulified_Students

1007    150
1009    151
1010    160
1016    179
1018    157
1019    151
1023    168
1026    166
1027    163
1029    169
1031    156
1035    153
1037    150
1039    156
Name: Level1 Total Marks, dtype: int32

# TASK5

In [7]:
Lvl2_Maths_Mark = np.random.randint(50,100,40)
Lvl2_Physics_Mark = np.random.randint(30,100,40)
Level2_Total_Marks = pd.Series(Lvl2_Maths_Mark+Lvl2_Physics_Mark,index=student_id,name='Level 2 Total Marks')

l2mm = pd.Series(Lvl2_Maths_Mark,index=student_id,name='Level2 Math Marks') # TO CREATE FINAL DATAFRAME for Task9 - No use in this task
l2pm = pd.Series(Lvl2_Physics_Mark,index=student_id, name='Level3 Physics Marks')  # TO CREATE FINAL DATAFRAME for Task9 - No use in this task

In [8]:
Total_marks = Level1_Total_Marks+Level2_Total_Marks
Total_marks

1001    270
1002    259
1003    248
1004    256
1005    261
1006    274
1007    296
1008    297
1009    303
1010    280
1011    254
1012    261
1013    263
1014    241
1015    228
1016    292
1017    250
1018    307
1019    282
1020    265
1021    260
1022    263
1023    358
1024    234
1025    264
1026    342
1027    284
1028    239
1029    278
1030    265
1031    275
1032    269
1033    270
1034    271
1035    324
1036    272
1037    330
1038    273
1039    274
1040    329
dtype: int32

# TASK6

In [9]:
Qulified_Students_4Screaning = Total_marks[(Total_marks>=300)]
Qulified_Students_4Screaning

1009    303
1018    307
1023    358
1026    342
1035    324
1037    330
1040    329
dtype: int32

# TASK7

In [10]:
Screaning_Maths_Mark = np.random.randint(50,100,40)
Screaning_Physics_Mark = np.random.randint(50,100,40)
Screaning_Total_Marks = pd.Series(Screaning_Maths_Mark+Screaning_Physics_Mark,index=student_id,name="Total Screening Marks")

smm = pd.Series(Screaning_Maths_Mark,index=student_id, name="Screening Math Marks")
spm = pd.Series(Screaning_Physics_Mark,index=student_id, name="Screening Physics Marks")

In [11]:
Final_Score = (Screaning_Total_Marks*0.4) + (Total_marks*0.6)

In [12]:
Final_Score

1001    223.6
1002    210.2
1003    210.0
1004    203.6
1005    203.0
1006    237.6
1007    224.0
1008    228.2
1009    227.4
1010    219.2
1011    201.2
1012    220.6
1013    220.2
1014    192.2
1015    196.8
1016    223.2
1017    206.4
1018    239.8
1019    211.2
1020    214.2
1021    212.0
1022    210.6
1023    262.0
1024    200.4
1025    220.4
1026    282.4
1027    222.8
1028    191.0
1029    215.2
1030    211.0
1031    209.0
1032    217.4
1033    222.8
1034    224.6
1035    265.6
1036    225.6
1037    260.0
1038    212.2
1039    226.4
1040    257.4
dtype: float64

# TASK8

In [13]:
#in task 8 we need to find the 75% of whole score

In [14]:
a=400*0.60 #first we will get the 60% of from total score exculding screening score - because we are only taking 60% from total marks

In [15]:
b = 200*0.4 #now we will get the 40% of screening score #becasue we are only taking 40% of screening score

In [16]:
c=a+b # by adding these two we'll get the our 100% percent score 
c

320.0

In [17]:
d= c*0.75 #NOW we'll find the 75% of our total score
d

240.0

In [18]:
Eligible_Students_4Olympiad = Final_Score [(Final_Score >=d)]
Eligible_Students_4Olympiad

1023    262.0
1026    282.4
1035    265.6
1037    260.0
1040    257.4
dtype: float64

# TASK9

In [19]:
df = pd.DataFrame(Eligible_Students_4Olympiad, columns = ['Final Marks']) 
x=float(df.max())
y=float(df.min())
df.index.name='Student Id'
a = df[df['Final Marks']==x].index.values
b = df[df['Final Marks']==y].index.values

print('\n','Qualified Students for Mathw Olympiad','\n')

print(df,'\n','\n','Highest Score is {0} whose Student_ID is {1}'.format(x, a[0]))
print('\n','Lowest Score is {0} whose Student_ID is {1}'.format(y, b[0]))

 Qualified Students for Mathw Olympiad

            Final Marks
Student Id
1023              262.0
1026              282.4
1035              265.6
1037              260.0
1040              257.4

 Highest Score is 282.4 whose Student_ID is 1026

 Lowest Score is 257.4 whose Student_ID is 1040

# Additonal Work Not Required

In [20]:
Q_L1_Maths_Mark = mm[df.index]
Q_L1_Physics_Mark = pm[df.index]
Q_L1_Total_Score = Level1_Total_Marks[df.index]
Q_L2_Maths_Mark = l2mm[df.index]
Q_L2_Physics_Mark = l2pm[df.index]
Q_L2_Total_Score = Level2_Total_Marks[df.index]
Q_Screaning_Maths_Mark = smm[df.index]
Q_Screaning_Physics_Mark = spm[df.index]
Q_Screaning_Total_Marks =Screaning_Total_Marks[df.index]

In [22]:
df1=pd.concat([Q_L1_Maths_Mark,Q_L1_Physics_Mark,Q_L1_Total_Score,Q_L2_Maths_Mark,Q_L2_Physics_Mark,Q_L2_Total_Score,Q_Screaning_Maths_Mark,Q_Screaning_Physics_Mark,Q_Screaning_Total_Marks,df],axis=1)
df1

,Level1 Math Marks,Level1 Physics Marks,Level1 Total Marks,Level2 Math Marks,Level3 Physics Marks,Level 2 Total Marks,Screening Math Marks,Screening Physics Marks,Total Screening Marks,Final Marks
Student Id,,,,,,,,,,
1023,78,90,168,94,96,190,65,53,118,262.0
1026,89,77,166,83,93,176,97,96,193,282.4
1035,74,79,153,81,90,171,81,97,178,265.6
1037,61,89,150,91,89,180,62,93,155,260.0
1040,63,84,147,92,90,182,92,58,150,257.4