In [2]:
import pandas as pd
import numpy as np

# TASK1

In [3]:
Price = np.random.randint(30000,50000,20)
Cars = pd.Series(Price, index=np.arange(101,121))
Cars

101    46895
102    37963
103    32090
104    43119
105    46070
106    46465
107    41509
108    48710
109    46118
110    38403
111    41387
112    37097
113    44529
114    37527
115    40038
116    32540
117    39069
118    46377
119    32894
120    37624
dtype: int32

# TASK2

In [4]:
A = Cars[Cars>=40000]
print('Number of cars price more than 40000 are:',A.count())
print(A)

Number of cars price more than 40000 are: 11
101    46895
104    43119
105    46070
106    46465
107    41509
108    48710
109    46118
111    41387
113    44529
115    40038
118    46377
dtype: int32

# TASK3

In [5]:
B = Cars[10:16]
print('Modle','\t','Price')
print(B)
print('Maximum price of Car from 111 to 116 Model Number is:',max(B))

Modle 	 Price
111    41387
112    37097
113    44529
114    37527
115    40038
116    32540
dtype: int32
Maximum price of Car from 111 to 116 Model Number is: 44529

# TASK4

In [6]:
C = Cars[Cars<=40000]
print('There are {0} cars priced at between $30000 and $40000'.format(C.count()))
print(C)

There are 9 cars priced at between $30000 and $40000
102    37963
103    32090
110    38403
112    37097
114    37527
116    32540
117    39069
119    32894
120    37624
dtype: int32

# TASK5

In [7]:
D = Cars[Cars>Cars.mean()]
print('There are {0} cars with a price greater than the average price of the car'.format(D.count()))
print(D)

There are 10 cars with a price greater than the average price of the car
101    46895
104    43119
105    46070
106    46465
107    41509
108    48710
109    46118
111    41387
113    44529
118    46377
dtype: int32

# TASK6

In [8]:
Data = {201:34000,202:45000,203:54000}
Data_Series=pd.Series(Data)
pd.concat([Cars,Data_Series])

101    46895
102    37963
103    32090
104    43119
105    46070
106    46465
107    41509
108    48710
109    46118
110    38403
111    41387
112    37097
113    44529
114    37527
115    40038
116    32540
117    39069
118    46377
119    32894
120    37624
201    34000
202    45000
203    54000
dtype: int64

# TASK7

In [9]:
E = Cars[Cars>=40000]
X=E-(E*0.1)
E.name='Before Disount'
X.name='After Discount'
pd.concat([E,X],axis=1)

     Before Disount  After Discount
101           46895         42205.5
104           43119         38807.1
105           46070         41463.0
106           46465         41818.5
107           41509         37358.1
108           48710         43839.0
109           46118         41506.2
111           41387         37248.3
113           44529         40076.1
115           40038         36034.2
118           46377         41739.3

# TASK8

In [10]:
F = Cars[Cars<=40000] # BEFORE DISCOUNT 
Cars.update(pd.Series(list(X.values), index = X.index))
G = Cars[Cars<=40000] #AFTER Discount
print('Number of Cars with a price between $30000 and $40000 Before Dicount is {0} and After Discount {1}'.format(F.count(),G.count()))

Number of Cars with a price between $30000 and $40000 Before Dicount is 9 and After Discount 13

# TASK9

In [11]:
H=Cars.sort_values()
print('List of Five Least Expensive Cars')
H[0:5]

List of Five Least Expensive Cars

103    32090.0
116    32540.0
119    32894.0
115    36034.2
112    37097.0
dtype: float64