## TASK1

In [1]:
from sklearn.datasets import fetch_20newsgroups
from sklearn.model_selection import train_test_split
import pandas as pd
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import confusion_matrix,ConfusionMatrixDisplay, classification_report
import numpy as np

In [2]:
task1 = fetch_20newsgroups(subset='train')

In [3]:
task1.target_names

['alt.atheism',
 'comp.graphics',
 'comp.os.ms-windows.misc',
 'comp.sys.ibm.pc.hardware',
 'comp.sys.mac.hardware',
 'comp.windows.x',
 'misc.forsale',
 'rec.autos',
 'rec.motorcycles',
 'rec.sport.baseball',
 'rec.sport.hockey',
 'sci.crypt',
 'sci.electronics',
 'sci.med',
 'sci.space',
 'soc.religion.christian',
 'talk.politics.guns',
 'talk.politics.mideast',
 'talk.politics.misc',
 'talk.religion.misc']

# TASK2

In [4]:
task2 = fetch_20newsgroups(subset='all', categories = ['alt.atheism', 'talk.religion.misc','comp.graphics','sci.space' ])

In [5]:
dictn = {'Text': task2.data ,'Target': task2.target}

In [6]:
df = pd.DataFrame(dictn)

In [7]:
df.head()

                                                Text  Target
0  From: healta@saturn.wwc.edu (Tammy R Healy)\nS...       0
1  From: jk87377@lehtori.cc.tut.fi (Kouhia Juhana...       1
2  Subject: PHIGS User Group Conference\nFrom: ha...       1
3  From: joslin@pogo.isp.pitt.edu (David Joslin)\...       3
4  From: adaptive@cs.nps.navy.mil (zyda res acct)...       1

In [8]:
df.Target.replace(to_replace = [0,1,2,3] , value = task2.target_names, inplace = True)

In [9]:
df.head()

                                                Text              Target
0  From: healta@saturn.wwc.edu (Tammy R Healy)\nS...         alt.atheism
1  From: jk87377@lehtori.cc.tut.fi (Kouhia Juhana...       comp.graphics
2  Subject: PHIGS User Group Conference\nFrom: ha...       comp.graphics
3  From: joslin@pogo.isp.pitt.edu (David Joslin)\...  talk.religion.misc
4  From: adaptive@cs.nps.navy.mil (zyda res acct)...       comp.graphics

In [10]:
y = pd.get_dummies(df.Target)
y.head()

   alt.atheism  comp.graphics  sci.space  talk.religion.misc
0            1              0          0                   0
1            0              1          0                   0
2            0              1          0                   0
3            0              0          0                   1
4            0              1          0                   0

In [11]:
X_train, x_test, Y_train, y_test = train_test_split(df.Text, y , test_size=0.2, random_state=12 )

In [12]:
TFIDF = TfidfVectorizer()

In [13]:
X_train_v = TFIDF.fit_transform(X_train).toarray()

In [14]:
x_test_v = TFIDF.transform(x_test).toarray()

In [15]:
X_train_v.shape

(2709, 39869)

In [16]:
x_test_v.shape

(678, 39869)

In [17]:
from sklearn.linear_model import LogisticRegression

In [18]:
mdl = LogisticRegression()

In [19]:
from sklearn.multiclass import OneVsRestClassifier

In [20]:
ovr = OneVsRestClassifier(mdl)

In [21]:
ovr.fit(X_train_v, Y_train)

OneVsRestClassifier(estimator=LogisticRegression())

# TASK3

In [22]:
y_pred = ovr.predict(x_test_v)
y_pred = pd.DataFrame(y_pred, columns = task2.target_names)

In [23]:
pd.concat([y_pred.head(30).reset_index().add_prefix('Predict_'), y_test.head(30).reset_index().add_prefix('Actual_')], axis=1).drop(['Predict_index','Actual_index'],axis=1)

,Predict_alt.atheism,Predict_comp.graphics,Predict_sci.space,Predict_talk.religion.misc,Actual_alt.atheism,Actual_comp.graphics,Actual_sci.space,Actual_talk.religion.misc
0,0,0,1,0,0,0,1,0
1,1,0,0,0,1,0,0,0
2,0,1,0,0,0,1,0,0
3,1,0,0,0,1,0,0,0
4,0,1,0,0,0,1,0,0
5,1,0,0,0,1,0,0,0
6,1,0,0,0,1,0,0,0
7,1,0,0,0,1,0,0,0
8,0,1,0,0,0,1,0,0
9,0,1,0,0,0,1,0,0
10,0,0,1,0,0,0,1,0
11,1,0,0,0,1,0,0,0
12,0,0,0,1,0,0,0,1
13,0,0,0,0,0,0,0,1
14,0,0,1,0,0,0,1,0
15,0,0,0,0,0,0,0,1
16,0,0,0,1,0,0,0,1
17,0,0,1,0,0,0,1,0
18,0,0,0,1,0,0,0,1
19,1,0,0,0,1,0,0,0
20,1,0,0,0,1,0,0,0
21,0,0,0,0,1,0,0,0
22,1,0,0,0,1,0,0,0
23,1,0,0,0,1,0,0,0
24,0,0,0,0,0,0,0,1
25,0,0,0,0,0,1,0,0
26,0,1,0,0,0,1,0,0
27,1,0,0,0,1,0,0,0
28,1,0,0,0,1,0,0,0
29,1,0,0,0,1,0,0,0

In [24]:
print(classification_report(y_test,y_pred ))

              precision    recall  f1-score   support

           0       0.95      0.70      0.81       166
           1       0.97      0.90      0.94       177
           2       0.99      0.85      0.91       215
           3       0.95      0.50      0.66       120

   micro avg       0.97      0.77      0.86       678
   macro avg       0.97      0.74      0.83       678
weighted avg       0.97      0.77      0.85       678
 samples avg       0.76      0.77      0.76       678

/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in samples with no predicted labels. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

# TASK4

In [25]:
task4 = fetch_20newsgroups(subset='all')

In [26]:
dictn = {'Text': task4.data ,'Target': task4.target}

In [27]:
df2 = pd.DataFrame(dictn)

In [28]:
df2.head()

                                                Text  Target
0  From: Mamatha Devineni Ratnam <mr47+@andrew.cm...      10
1  From: mblawson@midway.ecn.uoknor.edu (Matthew ...       3
2  From: hilmi-er@dsv.su.se (Hilmi Eren)\nSubject...      17
3  From: guyd@austin.ibm.com (Guy Dawson)\nSubjec...       3
4  From: Alexander Samuel McDiarmid <am2o+@andrew...       4

In [29]:
y = pd.get_dummies(df2.Target)
y.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [30]:
X_train, x_test, Y_train, y_test = train_test_split(df2.Text, y , test_size=0.2, random_state=12 )

In [34]:
TFIDF = TfidfVectorizer(max_features=50000)
X_train_v = TFIDF.fit_transform(X_train).toarray()

In [35]:
x_test_v = TFIDF.transform(x_test).toarray()

In [37]:
mdl2 = LogisticRegression()

In [38]:
ovr = OneVsRestClassifier(mdl2)

In [39]:
ovr.fit(X_train_v, Y_train)

OneVsRestClassifier(estimator=LogisticRegression())

# TASK5

In [40]:
y_pred = ovr.predict(x_test_v)
y_pred = pd.DataFrame(y_pred, columns = task4.target_names)

In [41]:
pd.concat([y_pred.head(30).reset_index().add_prefix('Predict_'), y_test.head(30).reset_index().add_prefix('Actual_')], axis=1).drop(['Predict_index','Actual_index'],axis=1)

,Predict_alt.atheism,Predict_comp.graphics,Predict_comp.os.ms-windows.misc,Predict_comp.sys.ibm.pc.hardware,Predict_comp.sys.mac.hardware,Predict_comp.windows.x,Predict_misc.forsale,Predict_rec.autos,Predict_rec.motorcycles,Predict_rec.sport.baseball,...,Actual_10,Actual_11,Actual_12,Actual_13,Actual_14,Actual_15,Actual_16,Actual_17,Actual_18,Actual_19
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
15,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
24,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
28,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
29,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
print(classification_report(y_test,y_pred ))

              precision    recall  f1-score   support

           0       0.96      0.50      0.66       169
           1       0.98      0.26      0.41       217
           2       0.90      0.47      0.62       177
           3       0.91      0.33      0.48       196
           4       0.97      0.38      0.54       185
           5       0.99      0.40      0.56       215
           6       0.92      0.48      0.63       195
           7       0.98      0.43      0.60       183
           8       1.00      0.53      0.70       210
           9       1.00      0.51      0.67       190
          10       0.99      0.66      0.79       201
          11       1.00      0.63      0.77       200
          12       1.00      0.21      0.35       192
          13       1.00      0.46      0.63       199
          14       0.98      0.57      0.72       184
          15       0.92      0.57      0.70       211
          16       0.97      0.54      0.69       185
          17       1.00      0.64      0.78       188
          18       0.98      0.31      0.47       160
          19       0.94      0.13      0.23       113

   micro avg       0.97      0.46      0.62      3770
   macro avg       0.97      0.45      0.60      3770
weighted avg       0.97      0.46      0.61      3770
 samples avg       0.45      0.46      0.46      3770

/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in samples with no predicted labels. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

## TASK6

##  **As we can see that score f1 decrease because of additional features**