# TASK1

In [26]:
lst=[]

'''
while len(lst)<11: #with the help of nested loop
    if len(lst)<10:
        lst.append(str(input('Enter a word: ')))
    else:
        for i in range(len(lst)):
            print(lst[-(i+1)])
        break
        
#by using two diffrent loop 
'''
print('Enter 10 words to be inserted in list')
while len(lst)<10:
    lst.append(str(input()))

print("Reverse of list")
for i in range(len(lst)):
    #print(lst[i][::-1])
    #print(lst[-(i+1)])
    a = lst[-(i+1)]# to reverse the list
    print(a[::-1]) #to reverse the element of list

Enter 10 words to be inserted in list
asda
asd
weqwe
asd
afwrfw

wefwef
wef
wefwv
df
Reverse of list
fd
vwfew
few
fewfew

wfrwfa
dsa
ewqew
dsa
adsa

# TASK2

In [5]:
lst1=[]

while len(lst1)<10: #with the help of nested loop
        lst1.append(str(input('Enter a word: ')))
lst1.reverse()
print(lst1)

Enter a word: AS
Enter a word: AS
Enter a word: AS
Enter a word: FDF
Enter a word: ASD
Enter a word: ASASD
Enter a word: W
Enter a word: QWEDQ
Enter a word: ASD
Enter a word: ASD
['ASD', 'ASD', 'QWEDQ', 'W', 'ASASD', 'ASD', 'FDF', 'AS', 'AS', 'AS']

# TASK3

In [6]:
alist = []

while len(alist)<10: #with the help of nested loop
        alist.append(str(input('Enter a word: ')))
print(alist)

Enter a word: ASDASD
Enter a word: ASD
Enter a word: ASD
Enter a word: ASD
Enter a word: AEWE
Enter a word: QWE
Enter a word: QWE
Enter a word: QWE
Enter a word: QWE
Enter a word: QWE
['ASDASD', 'ASD', 'ASD', 'ASD', 'AEWE', 'QWE', 'QWE', 'QWE', 'QWE', 'QWE']

# TASK4

In [7]:
blist=[]
for i in alist:
    if i not in blist:
        blist.append(i)
print(blist)

['ASDASD', 'ASD', 'AEWE', 'QWE']

# TASK5

In [8]:
blist.sort()
print(blist)

['AEWE', 'ASD', 'ASDASD', 'QWE']

# TASK6

In [18]:
#blist=['harsh', 'rohit', 'sai', 'sakib', 'tanish', 'udit', 'vipul', 'yash', 'yogesh']
a=len(blist)
while a>0:
    blist.pop()
    print(blist)
    a-=1

['harsh', 'rohit', 'sai', 'sakib', 'tanish', 'udit', 'vipul', 'yash']
['harsh', 'rohit', 'sai', 'sakib', 'tanish', 'udit', 'vipul']
['harsh', 'rohit', 'sai', 'sakib', 'tanish', 'udit']
['harsh', 'rohit', 'sai', 'sakib', 'tanish']
['harsh', 'rohit', 'sai', 'sakib']
['harsh', 'rohit', 'sai']
['harsh', 'rohit']
['harsh']
[]

# TASK7

In [27]:
for i in range(1500,2700):
    if i%7==0 and i%5==0:
        print(i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

# task 8

In [28]:
n = int(input('Please enter a number: '))
for i in range(1,31):
    if i%n!=0:
        print(i)

Please enter a number: 8
1
2
3
4
5
6
7
9
10
11
12
13
14
15
17
18
19
20
21
22
23
25
26
27
28
29
30

# TASK9

In [21]:
firstlist=[[1,2,3],[4,5,6],[7,8,9]]
secondlist=[[19,18,17],[16,15,14],[13,12,11]]
thirdlist=[]

for i in range(len(firstlist)):
    b=[]
    for j in range(len(firstlist[0])): #firstlist[i][j] to get the element form list of list
        a=firstlist[i][j] + secondlist[i][j]
        #thirdlist.append(a)
        b.append(a)
    thirdlist.append(b)
#print(thirdlist)

for k in thirdlist:
    print(k)

[20, 20, 20]
[20, 20, 20]
[20, 20, 20]

# TASK10

In [22]:
firstlist=[]
secondlist=[]

print('values for first list')
for i in range(3):
    column=[]
    for j in range(3):
        column.append(int(input()))
    firstlist.append(column)
print('values for second list')
for l in range(3):
    column=[]
    for m in range(3):
        
        column.append(int(input()))
    secondlist.append(column)
    
print('Firstlist = ',firstlist)
print('secondlist = ',secondlist)

values for first list
1
2
3
4
5
6
7
8
9
values for second list
10
11
12
1
14
15
16
17
18
Firstlist =  [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
secondlist =  [[10, 11, 12], [1, 14, 15], [16, 17, 18]]