# TASK 1

In [1]:
Roll_Number = 1234567

In [2]:
print(' Roll number is :', Roll_Number , '\n', 'ID of Roll Number is :',id(Roll_Number) , '\n', 'Data Type of Roll Number is :',type(Roll_Number))

 Roll number is : 1234567
 ID of Roll Number is : 3018352142288
 Data Type of Roll Number is : <class 'int'>

In [3]:
First_Name = 'Yogesh'

In [4]:
print(' First Name is :', First_Name , '\n', 'ID of First Name is :',id(First_Name) , '\n', 'Data Type of First Name is :',type(First_Name))

 First Name is : Yogesh
 ID of First Name is : 3018352150256
 Data Type of First Name is : <class 'str'>

In [5]:
Last_Name = 'Pandiya'

In [6]:
print(' Last_Name is :', Last_Name, '\n', 'ID of Last_Name is :',id(Last_Name) , '\n', 'Data Type of Last_Name is :',type(Last_Name))

 Last_Name is : Pandiya
 ID of Last_Name is : 3018352210352
 Data Type of Last_Name is : <class 'str'>

In [7]:
Maxmark =50

In [8]:
print(' Maxmark is :', Maxmark, '\n', 'ID of Maxmark is :',id(Maxmark) , '\n', 'Data Type of Maxmark is :',type(Maxmark))

 Maxmark is : 50
 ID of Maxmark is : 3018265685840
 Data Type of Maxmark is : <class 'int'>

# TASK 2

In [9]:
var1 = 2

In [10]:
#output var1 is a variable that has the data 2 and data type is integer

In [11]:
2var = 2

SyntaxError: invalid syntax (2593071960.py, line 1)

In [12]:
#giving syntext error bcz varible can't be start with number or symbol eaither its alphabet or '_' sign

In [13]:
var 1 = 2

SyntaxError: invalid syntax (1069141224.py, line 1)

In [14]:
#giving syntext error bcz varible can't have space in it

In [15]:
var$2 = 2

SyntaxError: invalid syntax (2085239645.py, line 1)

In [16]:
#giving syntext error bcz varible can't have special characters in it

# TASK3

In [17]:
Class = 15

In [18]:
#this is a simple variable whose assigned value is 15 data type of this variable is int.

In [19]:
class = 14

SyntaxError: invalid syntax (1242795455.py, line 1)

In [20]:
#this is throwing errro because class is a reserv keyword that we use to create the class

In [21]:
DEF = 13

In [22]:
#this is a simple variable whose assigned value is 13 data type of this variable is int.

In [23]:
def = 12

SyntaxError: invalid syntax (1759817278.py, line 1)

In [24]:
#this is throwing errro because 'def' is a reserv keyword is use to create user define function

In [25]:
a=TRUE

NameError: name 'TRUE' is not defined

In [ ]:
# we are getting error because we havent define TRUE as variable in our code yet.

In [ ]:
b= false

In [ ]:
# we are getting error because we havent define false as variable in our code yet.

# TASK 4

In [26]:
Marks = 33.33

In [27]:
print(' Marks is :', Marks, '\n', 'ID of Marks is :',id(Marks) , '\n', 'Data Type of Marks is :',type(Marks))

 Marks is : 33.33
 ID of Marks is : 3018379733168
 Data Type of Marks is : <class 'float'>

In [28]:
Marks = 44.41

In [29]:
print(' Marks is :', Marks, '\n', 'ID of Marks is :',id(Marks) , '\n', 'Data Type of Marks is :',type(Marks))

 Marks is : 44.41
 ID of Marks is : 3018379734512
 Data Type of Marks is : <class 'float'>

In [30]:
# No, the ID of marks got change bacuse every object in python has a unique ID

# TASK5

In [86]:
percentage = "{:.0%}".format(Marks/Maxmark)

In [87]:
print(percentage)

89%

In [88]:
Full_Name = " ".join([First_Name, Last_Name])

In [34]:
print(Full_Name)

Yogesh Pandiya

In [35]:
print(Full_Name, percentage )

Yogesh Pandiya 89%

# TASK6

In [36]:
Dict = {Roll_Number:Full_Name }

In [37]:
Dict

{1234567: 'Yogesh Pandiya'}

In [38]:
List =[Roll_Number, Full_Name, Marks, percentage ]

In [39]:
print(List)

[1234567, 'Yogesh Pandiya', 44.41, '89%']

# TASKK7

In [40]:
1+'2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [41]:
# we can not peroform arthemetic operation to int and string

In [42]:
'1'+'2'

'12'

In [43]:
#machine is considering it as string so the output is sum of strings because of ''

In [44]:
1/2

0.5

In [45]:
#we are get the result of arthmetic operation

In [46]:
1//2

0

In [47]:
#we are getting reminder as value

# TASK8

In [48]:
True and True

True

In [49]:
#it a boolean operator True and True is True

In [50]:
True and False

False

In [51]:
#it a boolean operator True and false is False

In [52]:
False or True

True

In [53]:
#it a boolean operator False or True is True

In [54]:
False or False

False

In [55]:
#it a boolean operator False or False is False

# TASK9

In [56]:
First_Name in Full_Name

True

In [57]:
#it getting true because full name contain the first name

In [58]:
First_Name is Full_Name

False

In [59]:
#it getting false because  the first name is not full name

# task10

In [60]:
a=4

In [61]:
b=3

In [62]:
c=3

In [63]:
d=a**b+c

In [64]:
e=a**(b+c)

In [65]:
print(' d is :', d ,'\n','e is :', e)

 d is : 67
 e is : 4096

In [66]:
#the output for d and e is different because in d first it calc. * and in e first it calc.+ because of ()

# TASK11

In [67]:
Radius = 6

In [68]:
Area_of_Circle = 3.14*(6*6)

In [69]:
print('Area_of_Circle:', Area_of_Circle)

Area_of_Circle: 113.04

# TASK 12

In [70]:
SP= 85

In [71]:
TAX='18%'

In [72]:
AMOUNT = 18/100*85

In [73]:
print(round(AMOUNT,1))

15.3

# TASK13

In [74]:
RS = 3333

In [75]:
print('Dollar in 3333Rs is:', '$',RS/75)

Dollar in 3333Rs is: $ 44.44

# TASK 14

In [76]:
amount = 5000

In [77]:
infalm = 7/100*amount

In [78]:
pp = amount - infalm

In [79]:
pp

4650.0

TASK 15 is to save the file with different expension