# TASK 1

In [1]:
Radius = 6

Area_of_Circle = 3.14*(6*6)

print('Area_of_Circle:', Area_of_Circle)

Area_of_Circle: 113.04

# TASK 2

In [2]:
Selling_Price= 85

In [3]:
Sales_Tax = '18%'

In [4]:
Tax_Amount = 18/100*85

In [5]:
print('Tax Amount is:', round(Tax_Amount,1))

Tax Amount is: 15.3

In [6]:
Product_Amount = Selling_Price - Tax_Amount

In [7]:
print('Tax Inclusive Price of Product:',Product_Amount)

Tax Inclusive Price of Product: 69.7

# TASK3

In [8]:
# $1 = INR75

In [9]:
# INR 3333 = ?

In [10]:
Dollar_Amount = 3333/75

In [11]:
print('Dollar_Amount of 3333 is:',Dollar_Amount,'$')

Dollar_Amount of 3333 is: 44.44 $


# TASK4

In [12]:
amount = 5000

In [13]:
infalm = 7/100*amount

In [14]:
pp = amount - infalm

In [15]:
pp

4650.0

# TASK5

In [16]:
User_Name = str(input("Enter your Name: "))
Lang = str(input("Enter the language you're Learning: "))
print("Hello, I'm",User_Name, "I'm learning", Lang)

Enter your Name: yogesh
Enter the language you're Learning: python
Hello, I'm yogesh I'm learning python

# TASK6

In [17]:
Principle_Amount = int(input('Enter the Principle Amount: '))
Rate_of_Interest = int(input('Enter the Rate_of_Interest: '))
Time = int(input('Enter the time: '))
SI = (Principle_Amount*Rate_of_Interest*Time)/100
print('Simple Interest of above inputs is: ', SI)

Enter the Principle Amount: 1000
Enter the Rate_of_Interest: 10
Enter the time: 10
Simple Interest of above inputs is:  1000.0

# TASK7

In [18]:
Principle_Amount = int(input('Enter the Principle Amount: '))
Rate_of_Interest = int(input('Enter the Rate_of_Interest: '))
Time = int(input('Enter the time: '))
A = Principle_Amount*(1+Rate_of_Interest/100)**Time
CI= A-Principle_Amount
print('Compound Interest of above inputs is: ', CI)

Enter the Principle Amount: 10000
Enter the Rate_of_Interest: 10
Enter the time: 10
Compound Interest of above inputs is:  15937.424601000024

# TASK8

In [19]:
first_value= int(input(' Enter the first value:'))
second_value= int(input(' Enter the second value:'))

first_value,second_value=second_value,first_value

print(' Valuse has been swapped')

print(' After swap first value is:',first_value, '\n','After swap second value is:', second_value)

 Enter the first value:10
 Enter the second value:12
 Valuse has been swapped
 After swap first value is: 12
 After swap second value is: 10

# TASK 9

In [20]:
Dist_In_KM = int(input('Enter the Distance in KMs:'))

Dist_In_Miles = Dist_In_KM * 0.62137 

print(Dist_In_KM,'Km', 'Distance in Miles is:', round(Dist_In_Miles), 'Miles Approx')

Enter the Distance in KMs:1000
1000 Km Distance in Miles is: 621 Miles Approx

# TASK 10

This can be easily done with the help of loop but we haven't studied yet so below is the code

In [21]:
num = int(input(' Enter the Number:'))
print(' Table of', num, 'is below', '\n',num,'x',1,'=',num*1, '\n', num,'x',2,'=',num*2, '\n', num,'x',3,'=',num*3, '\n', num,'x',4,'=',num*4, '\n', num,'x',5,'=',num*5,'\n' , num,'x',6,'=',num*6, '\n', num,'x',7,'=',num*7,'\n' , num,'x',8,'=',num*8, '\n', num,'x',9,'=',num*9,'\n', num,'x',10,'=',num*10 )

 Enter the Number:3
 Table of 3 is below
 3 x 1 = 3
 3 x 2 = 6
 3 x 3 = 9
 3 x 4 = 12
 3 x 5 = 15
 3 x 6 = 18
 3 x 7 = 21
 3 x 8 = 24
 3 x 9 = 27
 3 x 10 = 30

# TASK 11

In [22]:
#to save the file in different format