# TASK1

In [9]:
#factorial

In [77]:
i= int(input("Enter the value: "))
a=1 #counter to stop the loop
b=1         #varible to store the data from loop
while a<i+1:
    b=(b*a)
    a+=1
print(b)

Enter the value: 4
24

# TASK2 Prime Number

In [72]:
count=1
while count<30:
    count+=1
    b=2
    while b<count:
        if count%b==0:
            #print(count,"Not Prime")
            break
        b+=1
    else:
        print(count)

2
3
5
7
11
13
17
19
23
29

# TASK3

In [58]:
#We ne to add the digit of number given by user

In [59]:
number = int(input("Enter a number: "))
i = str(number)#to convert it into string
a=0
b=0
while a<(len(i)):
    d=i[a]
    c=int(d) #again convert into int to get the desired result
    #print(c,(type(c)))
    b+=c
    a+=1
print(b)

Enter a number:

ValueError: invalid literal for int() with base 10: ''

# TASK4 Fibonacci

In [60]:
i=0 #COUNTER
b=1
c=0
while i<=20:
    c=i+b
    i=b # to replace 1 value with second
    b=c #to replace second value with sum
    print(c)

1
2
3
5
8
13
21
34

# TASK5

In [61]:
t1= (1,2,3,4)
print(id(t1))
t2=(1,2,3,4)
t1=t1+t2
print(t1)
print(id(t1))

1761408314720
(1, 2, 3, 4, 1, 2, 3, 4)
1761378670736

In [62]:
#EVERY OBJECT IN PYTHON HAS DIFFRENST ID whereas variable ca have same id if there data is similar as shown in below example.

In [63]:
a='hello'
b='hello'
print(id(a),id(b))

1761375584368 1761375584368

In [64]:
A=[1,2,3,4]
B=[1,2,3,4]
print(id(A),id(B))

1761408659264 1761408666368

In [65]:
a='helo'
b='hello'
print(id(a),id(b))

1761408182448 1761375584368

# TASK6

In [66]:
n={10,20,30,40,50}
m={30,40,50,50,60}
n.update(m) # this can also be done with 'union'
print(n)
# this is set this will remove all duplicate elements

{40, 10, 50, 20, 60, 30}

# TASK 7

In [67]:
port1 = {'FTP':1, 'SSH':2, 'telnet':3, 'http':4}

for i in port1:
    b = port1[i] #to get the values of dict with help of key
    if b%2==0:
        print(b)
    else:
        pass

2
4

# TASK 8

In [68]:
dict1 ={}
for i in range(1,16):
    dict1.update({i:i**2})
dict1.update({100:100**2})
print(dict1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 100: 10000}

# TASK9

In [69]:
port1 = {21:'FTP', 22:'SSH', 23:'telnet', 80:'http'}
port2={}
for i in port1:
    b = port1[i] #to get the values of dict with help of key
    #print(i,b)
    port2.update({b:i})
    
print(port2)

{'FTP': 21, 'SSH': 22, 'telnet': 23, 'http': 80}

# TAS10

In [70]:
Employee= {
'Emp1':{'name':'Sara','Dept':'IT', 'Designation':'Team Lead'},
'Emp2':{'name':'Anne','Dept':'IT', 'Designation':'Senior Software Engineer'},
'Emp3':{'name':'Andy','Dept':'BioTech', 'Designation':'Senior Software Engineer'},
'Emp4':{'name':'Andy','Dept':'BioTech', 'Designation':'Senior Software Engineer'},
}


em=[] #used empty list to check store the value of each key to check if that value repeated. 

print('Keys withoud duplicate entries')
for i in Employee:
    if Employee[i] not in em:
        em.append(Employee[i])
        print(i, ':', Employee[i])
else:
    print('Repeated key in the given dict:-', str(i),':', Employee[i])

Keys withoud duplicate entries
Emp1 : {'name': 'Sara', 'Dept': 'IT', 'Designation': 'Team Lead'}
Emp2 : {'name': 'Anne', 'Dept': 'IT', 'Designation': 'Senior Software Engineer'}
Emp3 : {'name': 'Andy', 'Dept': 'BioTech', 'Designation': 'Senior Software Engineer'}
Repeated key in the given dict:- Emp4 : {'name': 'Andy', 'Dept': 'BioTech', 'Designation': 'Senior Software Engineer'}