# TASK 1

In [127]:
mynames = ["Joe", "Zoe", "world", "Brad", "Angelina", "world", "Zuki", "Tom", "Paris", "world","magic"]

if "USA" in mynames:
        print('True')
else:
    print('False')

#using for loop.................
j=0
for i in mynames:
    if i == "JoIe":
        print('TRUE')
        break
    else:
        j+=1
if j==len(mynames):
    print('FALSE')

#using while loop................ 
    
k=0
while k<len(mynames):
    if mynames[k] == "Joe":
        print('TRUE')
        break
    else:
        k+=1
if k==len(mynames):
    print('FALSE')

False
FALSE
TRUE

# TASK2

In [128]:
mynames = ["Joe", "Zoe", "world", "Brad", "Angelina", "world", "Zuki", "Tom", "Paris", "world","magic"]

In [129]:
mynames.count('world')

3

# TASK 3

In [130]:
dataset=list(range(1,30))

In [131]:
Even=0
Odd=0
for i in dataset:
    if i%2==0:
        Even+=1
    else:
        Odd+=1
        
print(" Count of Even number in dataset: " ,Even,'\n',"Count of Odd number in dataset: ",Odd)

 Count of Even number in dataset:  14
 Count of Odd number in dataset:  15

# TASK4

In [132]:
Even=[]
for i in dataset:
    if i%2==0:
        if len(Even)<5:
            Even.append(i)
        else:
            pass
    else:
        pass
        
print("List of First five Even number: " ,Even)

List of First five Even number:  [2, 4, 6, 8, 10]

# TASK5

In [135]:
print("last two odd number in data set")
a=len(dataset)
k=0
for i in range(a):
    j=a-i
    if j%2!=0 and k<2:
        print('Odd',j)
        k+=1

last two odd number in data set
Odd 29
Odd 27

# TASK6

In [136]:
x=[]
y=[]
for i in range(10):
    if len(x)<5:
        a= int(input("Please Enter a {0} Value for list one:".format(i+1)))
        x.append(a)
    else:
        b = int(input("Please Enter a {0} Value for list two:".format(i-4)))
        y.append(b)
x.extend(y)
c=str(input("Please Enter a word to be added in list: "))
x.insert(0,c)
print("Final X list: ", x)
print("Final Y list: ", y)

Please Enter a 1 Value for list one:1
Please Enter a 2 Value for list one:2
Please Enter a 3 Value for list one:3
Please Enter a 4 Value for list one:4
Please Enter a 5 Value for list one:5
Please Enter a 1 Value for list two:2
Please Enter a 2 Value for list two:1
Please Enter a 3 Value for list two:3
Please Enter a 4 Value for list two:1
Please Enter a 5 Value for list two:2
Please Enter a word to be added in list: Yogesh
Final X list:  ['Yogesh', 1, 2, 3, 4, 5, 2, 1, 3, 1, 2]
Final Y list:  [2, 1, 3, 1, 2]

# TASK7

In [144]:
lst = []
for i in range(1,41):
    if i<=10:
        lst.append(i**2)
    elif i>=30: 
        lst.append(i**2) 
print(lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600]

# TASK8

In [143]:
a= int(input("Enter the value: "))

for i in range(1,11):
    print(a,'*',i,'=',a*i)

Enter the value: 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20